<!-- gestion.component.html -->
<div class="min-h-screen bg-white dark:bg-black transition-colors duration-300 w-full h-full p-4">
  <div class="absolute inset-0 overflow-auto bg-white dark:bg-black p-4 md:p-6">
    <!-- HEADER -->
    <div class="mb-6">
      <h1 class="text-xl md:text-2xl font-bold text-black dark:text-white">Gestión de datos</h1>
    </div>

    <!-- Pills gestión -->
    <div class="mb-4">
      <div class="flex flex-nowrap items-center gap-2 overflow-x-auto pb-1">
        <button
          (click)="activeTab = 'users'"
          class="inline-flex items-center gap-2 rounded-full border px-4 py-2 text-sm font-medium transition-colors shrink-0"
          [ngClass]="
            activeTab === 'users'
              ? 'bg-primary-500 border-primary-500 text-white '
              : 'bg-white dark:bg-black border-default-200 dark:border-dark-400 text-default-700 dark:text-default-300 hover:border-primary-400'
          "
        >
          Usuarios
        </button>

        <button
          (click)="activeTab = 'roles'"
          class="inline-flex items-center gap-2 rounded-full border px-4 py-2 text-sm font-medium transition-colors shrink-0"
          [ngClass]="
            activeTab === 'roles'
              ? 'bg-primary-500 border-primary-500 text-white '
              : 'bg-white dark:bg-black border-default-200 dark:border-dark-400 text-default-700 dark:text-default-300 hover:border-primary-400'
          "
        >
          Roles
        </button>

        <button
          (click)="activeTab = 'subroles'"
          class="inline-flex items-center gap-2 rounded-full border px-4 py-2 text-sm font-medium transition-colors shrink-0"
          [ngClass]="
            activeTab === 'subroles'
              ? 'bg-primary-500 border-primary-500 text-white '
              : 'bg-white dark:bg-black border-default-200 dark:border-dark-400 text-default-700 dark:text-default-300 hover:border-primary-400'
          "
        >
          Subroles
        </button>
      </div>
    </div>

    <!-- USERS -->
    @if (activeTab === 'users') {
      <gestion-usuarios></gestion-usuarios>
    }

    <!-- ROLES -->
    @if (activeTab === 'roles') {
      <gestion-roles></gestion-roles>
    }

    <!-- SUBROLES -->
    @if (activeTab === 'subroles') {
      <gestion-subroles></gestion-subroles>
    }
  </div>
</div>

<!-- vista gestion -->
